
        *{
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
        #flex-layout-wrap{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        #header{
            background: cornflowerblue;
            text-align: center;
            padding: 1.5rem;
        }
        #main-wrap{
            display: flex;
            flex-flow: column;
            flex:1 auto;
            align-content: flex-start;
        }
        #nav{
            position: sticky;
            top: 0;
            /* width: 100%; */
            /* height: fit-content; */
            display: flex;
        }
        #main-section{
            flex: 1 auto;
            padding: 1.5rem;
            background: khaki;
        }
        #nav .nav-item{
            flex:1 1 auto;
            background: slateblue;
            border: 1px solid black;
            transition: .5s;
        }
        #nav .nav-item a{
            display: block;
            color: white;
            padding: 1em;
            text-align: center;
        }
        #nav .nav-item:hover{
            flex:1.5 1 auto;
            background: darkgray;
        }
        #nav .nav-item a:hover{
            color: black;
        }
        #main-section{
            flex:1 1 20px;
        }
        #footer{
            padding: 1.5em;
            text-align: center;
            background: lemonchiffon;
            border-top: lavender 1px solid;
        }
        .top{
            display: none;
        }
        @media (min-width:1024px){
            #main-wrap{
                flex-flow: row;
            }
            #nav{
                position: sticky;
                top: 0;
                /* width: 100%; */
                /* height: fit-content; */
                height: fit-content;
                flex-flow: column;
                flex:0 1 auto;
            }
            .top{
                display: inline;
            }
        }